<ion-view view-title="Dealer">
  <ion-content>
    <div class="centerDiv">
      <div class="row" ng-repeat="players in playersChunk">
        <div class="col" ng-repeat="player in players" ng-if="player">
          <player ng-player="player" ng-game-type="gameType"></player>
        </div>
      </div>
      <div class="row" ng-if="hasTurn ">
        <div class="col text-center">
          <button
            class="button button-dark button-block button-outline fnt-3em"
            ng-click="sideShow();"
            ng-disabled="showWinner"
          >
            Side Show
          </button>
        </div>
        <div class="col text-center" ng-click="move();">
          <button
            class="button button-dark button-block button-outline fnt-3em"
          >
            Move
          </button>
        </div>
        <div class="col text-center" ng-click="showConfirmationModal('fold');">
          <button
            class="button button-dark button-block button-outline fnt-3em"
          >
            Pack
          </button>
        </div>
      </div>
      <div class="row" ng-show="!hasTurn && !showWinner">
        <div class="col col-100 text-center">
          <button
            class="button button-royal button-block fnt4-5em btn-pad"
            ng-click="randomCard();"
          >
            Serve Card
          </button>
          <!-- <button
            class="button button-royal button-block fnt4-5em btn-pad"
            ng-show="!hasTurn && !showWinner"
          >
            Serve Card
          </button> -->
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="gametype text-center text-uppercase assertive padding">
            {{ gameType.name }}
          </div>
        </div>

        <div class="col col-50 text-center">
          <button
            class="button button-royal button-block button-outline fnt4-5em btn-pad m-0"
            ng-disabled="!cardServed || !showWinner"
            ng-click="showConfirmationModal('showWinner');"
          >
            Show
          </button>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col col-50">
            <joker ng-game-type="gameType"></joker>
          </div>
          <!-- <div class="col col-25 text-center">
          </div> -->
          <!--<div class="col col-25 text-center">
            <button class="button button-dark button-block button-outline fnt-3em">Undo</button>
          </div>-->
          <div class="col col-50">
            <!-- <div class="row"> -->
            <!-- <div class="col text-center"> -->
            <button
              class="button button-dark button-block button-outline fnt-3em"
              ng-click="showConfirmationModal('newGame');"
            >
              New
            </button>
            <!-- </div> -->
            <!-- <div class="col col-50 text-center">
                <button
                  class="button button-assertive button-block  button-outline fnt-3em"
                  ng-click="showConfirmationModal('undo');"
                >
                  Undo
                </button>
              </div> -->
            <!-- </div>
          <div class="row">
            <div class="col"> -->
            <button
              class="button button-positive button-block button-outline fnt-3em"
              ng-disable="gameType.jokerCards.length < 3"
              ng-click="showConfirmationModal('openJokerCard')"
              ng-if="gameType.name == 'Zandu'"
            >
              Open Joker Card
            </button>
            <button
              class="button button-positive button-block button-outline fnt-3em"
              ng-click="showConfirmationModal('openJokerCardFlipper')"
              ng-disabled="gameType.jokerCards.length < 4"
              ng-if="gameType.name == 'Flipper'"
            >
              Open Joker Card
            </button>
            <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
