<ion-view view-title="Table">
    <ion-content class="few-pad">
        <div class="poker-table">
            <div class="row" ng-repeat="players in playersChunk">
                <div class="col col-25" ng-repeat="player in players">
                    <tab ng-player="player" ng-if="player"></tab>
                </div>
            </div>
        </div>
        <form>
            <div class="list">
                <label class="item item-input item-select" for="dealer">
                    <div class="input-label">
                        <i class="ion-ios-people"></i> Dealer
                    </div>
                    <span class="low-opacity">(Default: {{dealer.dealerPlayer}})</span>
                    <select id="dealer" ng-model="dealer.dealerPlayer">
                        <option ng-repeat="p in activePlayers() track by $index" value="{{p.playerNo}}">Player {{p.playerNo}}</option>
                    </select>
                </label>
            </div>
            <div class="item item-toggle" ng-if="activePlayers().length>2">
                Straddle
                <label class="toggle toggle-positive">
                    <input type="checkbox" ng-model="form.isStraddle">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="text-center">
                <button class="button button-positive button-block" ng-disabled="!dealer.dealerPlayer || !isDealerPlayerInActive(dealer.dealerPlayer) || (activePlayers().length<2)"
                    ng-click="makeDealer(dealer.dealerPlayer);">Start</button>
            </div>
        </form>


        <div class="row" ng-if="settings">

            <div class="col col-33">
                <div class="list">
                    <label class="item item-input" ng-repeat="setting in settings">
                        <span class="input-label">{{setting.name}}</span>
                        <input type="text" ng-model="setting.value" class="setting-input">
                    </label>
                    <button class="button button-energized button-block button-outline button-small" ng-click="storeSetting();">Save</button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>