<ion-view view-title="Dealer">
  <ion-content>
    <div class="centerDiv">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6"></div>
        </div>
      <div class="row">
        <card
        card="{{ card }}"
        ng-style="style"
        width="120"
        height="160"
      >
      <card
        card="2s"
        ng-style="style"
        width="120"
        height="160"
      >
      </div>
    </div>
  </ion-content>
</ion-view>
