<ion-modal-view class="show-page">
  <ion-content>
    <div class="modal-sure text-center">
      <h4>Select Side Show Players</h4>
      <div class="sure-modal">
        <div class="padding-vertical">
          <div class="row">
            <div class="col col-50 text-center">
              <div class="selected-player">
                Player {{ turnPlayer.playerNo }}
              </div>
            </div>
            <div class="col col-50 text-center">
              <div class="select-player">
                <select
                  id="selectedPlayer"
                  ng-model="sideShowObj.player"
                  ng-options="player as  
                  'Player '+player.playerNo for player in sideShowPlayers()"
                ></select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50 text-center">
            <button
              ng-disabled="!sideShowObj.player.playerNo"
              class="button button-balanced button-custom button-block fnt-36"
              ng-click="confirmModalOkConfirm(turnPlayer.playerNo,sideShowObj.player.playerNo);confirmModalClose('onlyClose');"
            >
              Confirm
            </button>
          </div>
          <div class="col col-50 text-center">
            <button
              class="button button-assertive button-custom button-block fnt-36"
              ng-click="sideshowSelectModalClose();"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
