<ion-modal-view class="show-page">
  <ion-content>
    <div class="modal-sure winner-select-modal text-center">
      <h4>Select the Player to Show</h4>
      <div class="sure-modal">
        <div class="padding-vertical">
          <div class="poker-table">
            <div class="row" ng-repeat="players in playersChunk">
              <div class="col" ng-repeat="player in players">
                <tab-winner ng-player="player" ng-if="player"></tab-winner>
              </div>
            </div>
          </div>
        </div>
        <div class="color-danger" ng-if="numberOfWinnerSelected() > 2">
          Please select only two players
        </div>
        <div class="row">
          <div class="col col-50 text-center">
            <button
              ng-disabled="numberOfWinnerSelected() != 2"
              class="button button-balanced button-custom button-block fnt-36"
              ng-click="confirmModalOkConfirmForShow();winnerSelectModalClose();"
            >
              Show
            </button>
          </div>
          <div class="col col-50 text-center">
            <button
              class="button button-assertive button-custom button-block fnt-36"
              ng-click="winnerSelectModalClose();"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
