<div
  class="winners-box"
  ng-click="makeShowWinner(player.playerNo,!player.isActive)"
  ng-class="{selected:player.showWinner}"
>
  <button
    class="button button-positive button-block btn-start fnt-8em"
    ng-disabled="!player.isActive || player.isFold"
  >
    <span class="holder">
      {{ player.playerNo }}
    </span>
  </button>
  <div class="circle-loader load-complete">
    <div class="checkmark draw" ng-style></div>
  </div>
  <!-- <span class="winner-player-selected" ng-show="player.showWinner"
    >SELECTED</span
  > -->
</div>
